<button id="list-back-button" tabindex="10000">Back</button>

<%= form_for( list, :remote => true ) do |f| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :tabindex => 10001 %>
  </div>
  <div class="actions">
    <%= f.submit :tabindex => 10003 %>
  </div>
<% end %>
