<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<%
			style = "margin:10px; padding:10px; border-bottom:1px solid #aaa;"
			today = []
			tomorrow = []
			thisweek = []
			nextweek = []
			later = []

			@list_items.each do |list_item|
				case list_item.deadline_category
				when 'today'
					today << list_item
				when 'tomorrow'
					tomorrow << list_item
				when 'this week'
					thisweek << list_item
				when 'next week'
					nextweek << list_item
				else
					later << list_item
				end
			end
			%>


			<% if today.count > 0 %>
		    <h1 class="text-decoration:underline;">Today</h1>
				<% today.each do |item| %>
					<%= content_tag( :div, item.body_rendered.html_safe, :style => style ) %>
				<% end %>
			<% end %>

			<% if tomorrow.count > 0 %>
				<h1 class="text-decoration:underline;">Tomorrow</h1>
				<% tomorrow.each do |item| %>
					<%= content_tag( :div, item.body_rendered.html_safe, :style => style ) %>
				<% end %>
			<% end %>

			<% if thisweek.count > 0 %>
				<h1 class="text-decoration:underline;">This Week</h1>
				<% thisweek.each do |item| %>
					<%= content_tag( :div, item.body_rendered.html_safe, :style => style ) %>
				<% end %>
			<% end %>

			<% if nextweek.count > 0 %>
				<h1 class="text-decoration:underline;">Next Week</h1>
				<% nextweek.each do |item| %>
					<%= content_tag( :div, item.body_rendered.html_safe, :style => style ) %>
				<% end %>
			<% end %>

			<% if later.count > 0 %>
				<h1 class="text-decoration:underline;">Later</h1>
				<% later.each do |item| %>
					<%= content_tag( :div, item.body_rendered.html_safe, :style => style ) %>
				<% end %>
			<% end %>

  </body>
</html>