<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<%
			style = "margin:10px; padding:10px; border-bottom:1px solid #aaa;"
			today = []
			tomorrow = []
			thisweek = []
			nextweek = []
			later = []

			@list_items.each do |list_item|
				today << list_item if list_item.deadline_category == 'today'
				tomorrow << list_item if list_item.deadline_category == 'tomorrow'
				thisweek << list_item if list_item.deadline_category == 'this week'
				nextweek << list_item if list_item.deadline_category == 'next week'
				later << list_item if list_item.deadline_category == 'later'
			end
			%>


	    <h1>Today</h1>
			<% today.each do |item| %>
				<%= content_tag( :div, item.body_rendered.html_safe, :style => style ) %>
			<% end %>


			<h1>Tomorrow</h1>
			<% tomorrow.each do |item| %>
				<%= content_tag( :div, item.body_rendered.html_safe, :style => style ) %>
			<% end %>

			<h1>This Week</h1>
			<% thisweek.each do |item| %>
				<%= content_tag( :div, item.body_rendered.html_safe, :style => style ) %>
			<% end %>

			<h1>Next Week</h1>
			<% nextweek.each do |item| %>
				<%= content_tag( :div, item.body_rendered.html_safe, :style => style ) %>
			<% end %>

			<h1>Later</h1>
			<% later.each do |item| %>
				<%= content_tag( :div, item.body_rendered.html_safe, :style => style ) %>
			<% end %>


  </body>
</html>