<%= form_for( list_item, :remote => true ) do |f| %>
  <% unless list_item.saved? %>
		<p>Add New Item:</p>
	<% end %>
	<% if list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list_item.errors.count, "error") %> prohibited this list item from being saved:</h2>

      <ul>
      <% list_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="markituparea">
    <%= f.text_area :body, :tabindex => 10001 %>
	</div>
	<div class="actions">
		<% if list_item.saved? %>
			<button id="keepit" class="deadline-button" tabindex="10005" data-deadline="keepit">Save</button>
		<% else %>
			<button id="save-whenever" class="deadline-button" tabindex="10002" data-deadline="whenever">Save Without Deadline</button>
		<% end %>
		<% if list_item.saved? %>
			<button id="save-deadline" tabindex="10010">Save With New Deadline</button>
		<% else %>
			<button id="save-deadline" tabindex="10010">Save With Deadline</button>
		<% end %>
		<% if list_item.saved? and !list_item.deadline.nil? %>
			<button id="save-whenever" class="deadline-button" tabindex="10011" data-deadline="whenever">Whenever</button>
		<% end %>
		<% if list_item.saved? %>
			<button id="cancel-edit" tabindex="10100">Don't change anything</button>
		<% else %>
			<button id="cancel-edit" tabindex="10100">Don't create this item</button>
		<% end %>
  </div>

	<div id="deadline-settings-wrapper">
		<div id="deadline-settings">
			<button id="today" class="deadline-button" tabindex="10020" data-deadline="today">Today</button>
			<button id="tomorrow" class="deadline-button" tabindex="10030" data-deadline="tomorrow">Tomorrow</button>
			<button id="nextweek" class="deadline-button" tabindex="10040" data-deadline="nextweek">Next Week</button>
			<input type="text" id="custom-deadline-display" tabindex="10050" />
			<input type="hidden" id="custom-deadline-value" value=""/>
			<button id="custom-deadline" class="deadline-button" tabindex="10060" data-deadline="customdeadline">Save</button>
		</div>

		<div id="deadline">
			<%= get_deadline list_item %>
		</div>
			<div style="clear:both">&nbsp;</div>
	</div>
	<div style="clear:both">&nbsp;</div>
<% end %>
