<!DOCTYPE html>
<html>
<head>
  <title>List Kung Fu</title>
	<%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css' %>
	<%= stylesheet_link_tag 'guest/application', 'guest/scaffold' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="wrapper">
		<div id="flash_container">
	      <%- flash.each do |name, msg| -%>
	          <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      <%- end -%>
	  </div>
		<%= yield %>
	</div>
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' %>
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js' %>
	<%= javascript_include_tag 'jquery-rails.js' %>
	<%= javascript_include_tag 'guest/application' %>
	<%= yield :additional_javascript %>
  <%= javascript_tag do %>
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  <% end %>
  <%= javascript_tag do %>
      try {
          var pageTracker = _gat._getTracker("UA-9672233-3");
          pageTracker._setDomainName(".listkungfu.com");
          pageTracker._trackPageview();
      } catch(err) {}
  <% end %>
	<%= javascript_tag do -%>
	    var is_ssl = ("https:" == document.location.protocol);
	    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
	    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
	<% end if user_signed_in? %>
	<%= javascript_tag do %>

	    var feedback_widget_options = {};

	    feedback_widget_options.display = "overlay";
	    feedback_widget_options.company = "listkungfu";
	    feedback_widget_options.placement = "bottom";
	    feedback_widget_options.color = "#ababab";
	    feedback_widget_options.style = "idea";
	    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
	<% end if user_signed_in? %>
</body>
</html>