<!DOCTYPE html>
<html>
<head>
  <title>List Kung Fu</title>
	<%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css' %>
  <%= stylesheet_link_tag 'application', 'scaffold', 'jquery-ui-1.8.5.custom', 'layout-default-latest', 'textile', 'colors' %>
 	<style type="text/css">
		<%= write_tag_colors %>
 	</style>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="ui-layout-north" id="mainlayout-north">
		<%= image_tag 'listkungfu_header.png', :id => 'header-image' %>
		<div id="flash_container">
	      <%- flash.each do |name, msg| -%>
	          <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      <%- end -%>
	  </div>
		<div id="ultimate-search-widget">
		</div>
		<div id="main-menu">
			<% if user_signed_in? %>
				<a href="#" id="dashboard" accesskey="D">Dashboard</a> |
				<%= link_to 'Profile', edit_user_registration_url %> |
				<%= link_to 'Logout', destroy_user_session_url %>
				<br />
				<a href="mailto:siebel.stefan@gmail.com">Contact the Developer of this app!</a>
			<% end %>

		</div>
		<%= yield :north %>
	</div>

	<div class="ui-layout-west" id="mainlayout-west">
		<div class="header"></div>
		<div class="ui-layout-content" id="list-wrapper">
			<%= yield :west %>
		</div>
		<div id="tags">
		</div>
	</div>

	<div class="ui-layout-south" id="mainlayout-south">
		<%= yield :south %>
	</div>

	<div class="ui-layout-east" id="mainlayout-east">
		<%= yield :east %>
	</div>

	<div class="ui-layout-center" id="mainlayout-center">
	</div>

	<% unless use_minified_javascript? %>
		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js' %>
		<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js' %>

		<%= javascript_include_tag 'jquery.SerializeForm', 'jquery.ConfirmationDialog' %>
		<%= javascript_include_tag 'jquery.layout-1.2.0', 'json2', 'mustache', 'jquery.hotkeys' %>
		<%= javascript_include_tag 'tiny_mce/tiny_mce_src.js', 'tiny_mce/jquery.tinymce.js' %>
		<%= javascript_include_tag 'Controller', 'jquery.ListView', 'jquery.StatusBar', 'jquery.ListItemView', 'jquery.Dashboard', 'jquery.TagView', 'jquery.UltimateSearch.js', 'jquery.ListItemShow', 'jquery.ListItemEdit' %>
		<%= javascript_include_tag 'application' %>

	<% else %>
		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' %>
		<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.js' %>
		<%= javascript_include_tag 'tiny_mce/tiny_mce.js', 'tiny_mce/jquery.tinymce.js' %>
		<%= javascript_include_tag 'listkungfu.all.min' %>
	<% end %>

	<script id="list_items-list_item_dashboard" type="text/html">
		<%= render "list_items/list_item_dashboard.html" %>
	</script>
	<script id="list_items-list_item" type="text/html">
		<%= render "list_items/list_item.html" %>
	</script>
	<script id="list_items-show" type="text/html">
		<%= render "list_items/list_item_show.html" %>
	</script>
	<script id="list_items-form" type="text/html">
		<%= render( :partial => 'list_items/form.html', :locals => { :list_item => ListItem.new } ) %>
	</script>
	<script id="list_items-list_item" type="text/html">
		<%= render "list_items/list_item.html" %>
	</script>
	<script id="lists-list" type="text/html">
		<%= render "lists/list.html" %>
	</script>
	<script id="lists-form" type="text/html">
		<%= render( :partial => 'lists/form.html', :locals => { :list => List.new } ) %>
	</script>
	<script id="tags-tag" type="text/html">
		<%= render "tags/tag.html" %>
	</script>
	<script id="tags-form" type="text/html">
		<%= render "tags/form.html" %>
	</script>
	<%= javascript_tag do %>
      try {
          var pageTracker = _gat._getTracker("UA-9672233-3");
          pageTracker._setDomainName(".listkungfu.com");
          pageTracker._trackPageview();
      } catch(err) {}
  <% end %>
</body>
</html>
