<!DOCTYPE html>
<html>
<head>
  <title>List Kung Fu</title>
	<%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css' %>
  <%= stylesheet_link_tag 'application', 'scaffold', 'jquery-ui-1.8.5.custom', 'layout-default-latest' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="ui-layout-north" id="mainlayout-north">
		<%= image_tag 'listkungfu_header.png', :id => 'header-image' %>
		<%= yield :north %>
	</div>

	<div class="ui-layout-west" id="mainlayout-west">
		<div class="header"></div>
		<div class="ui-layout-content">
			<%= yield :west %>
		</div>
	</div>

	<div class="ui-layout-south" id="mainlayout-south">
		<div id="ajax-indicator">
			<%= image_tag 'ajax-loader.gif', :class  => 'ajax-indicator' %> Loading ...
		</div>
		<p id="notice"></p>
		<p id="alert"></p>
		
		<%= yield :south %>
	</div>

	<div class="ui-layout-east" id="mainlayout-east">
		<%= yield :east %>
	</div>

	<div class="ui-layout-center" id="mainlayout-center">
		<%= yield :center %>
	</div>
	
<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %> 
<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js' %>
<%= javascript_include_tag 'jquery.layout.min-1.2.0', 'json2', 'mustache', 'jquery.hotkeys' %>
<%= javascript_include_tag 'Controller', 'jquery.ListView' %>
<%= javascript_include_tag 'application' %>
</body>
</html>
