<!DOCTYPE html>
<html>
<head>
  <title>List Kung Fu</title>
	<%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css' %>
  <%= stylesheet_link_tag 'application', 'scaffold', 'jquery-ui-1.8.5.custom', 'layout-default-latest', 'textile' %>
	<%= stylesheet_link_tag 'markitup/set_style.css' %>
	<%= stylesheet_link_tag 'markitup/skin_style.css' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<%= yield %>
</body>
</html>
