<!DOCTYPE html>
<html>
<head>
  <title>List Kung Fu</title>
	<%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css' %>
  <%= stylesheet_link_tag 'application', 'scaffold', 'jquery-ui-1.8.5.custom', 'layout-default-latest', 'textile', 'colors' %>
	<%= stylesheet_link_tag 'markitup/set_style.css' %>
	<%= stylesheet_link_tag 'markitup/skin_style.css' %>
 	<style type="text/css">
		<%= write_tag_colors %>
 	</style>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="ui-layout-north" id="mainlayout-north">
		<%= image_tag 'listkungfu_header.png', :id => 'header-image' %>
		<div id="flash_container">
	      <%- flash.each do |name, msg| -%>
	          <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      <%- end -%>
	  </div>
		<div id="main-menu">
			<% if user_signed_in? %>
				<a href="#" id="dashboard" accesskey="D">Dashboard</a> |
				<%= link_to 'Profile', edit_user_registration_url %> |
				<%= link_to 'Logout', destroy_user_session_url %>
			<% end %>

		</div>
		<%= yield :north %>
	</div>

	<div class="ui-layout-west" id="mainlayout-west">
		<div class="header"></div>
		<div class="ui-layout-content" id="list-wrapper">
			<%= yield :west %>
		</div>
		<div id="tags">
		</div>
	</div>

	<div class="ui-layout-south" id="mainlayout-south">
		<%= yield :south %>
	</div>

	<div class="ui-layout-east" id="mainlayout-east">
		<%= yield :east %>
	</div>

	<div class="ui-layout-center" id="mainlayout-center">
	</div>

	<% unless use_minified_javascript? %>
		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js' %>
		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.js' %>
		<%= javascript_include_tag 'markitup/jquery.markitup.js', 'markitup/sets/default/set.js' %>

		<%= javascript_include_tag 'jquery.SerializeForm', 'jquery.ConfirmationDialog' %>
		<%= javascript_include_tag 'jquery.layout-1.2.0', 'json2', 'mustache', 'jquery.hotkeys' %>
		<%= javascript_include_tag 'Controller', 'jquery.ListView', 'jquery.StatusBar', 'jquery.ListItemView', 'jquery.Dashboard', 'jquery.TagView' %>
		<%= javascript_include_tag 'application' %>

	<% else %>
		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' %>
		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js' %>
		<%= javascript_include_tag 'markitup/jquery.markitup.js', 'markitup/sets/default/set.js' %>

		<%= javascript_include_tag 'listkungfu.all.min' %>
	<% end %>


	<%= javascript_tag do %>
      try {
          var pageTracker = _gat._getTracker("UA-9672233-3");
          pageTracker._setDomainName(".listkungfu.com");
          pageTracker._trackPageview();
      } catch(err) {}
  <% end %>
</body>
</html>
